@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


:root {
    /* <<<<<Colors>>>>> */
    --bg:#FFF9EB;
    --surface:#FFFFFF;
    --primary:#5E7A73;
    --secondary:#DCE5E1;
    --tertiary:#d9e2de88;
    --text:#1F2937;
    --text2:#6B7280;

    /* <<<<<Fonts>>>>> */
    --body-font: "Plus Jakarta Sans", sans-serif;
    --normal-font: 1rem;
    --bigger-font: 2rem;
    --big-font: 1.5rem;
    --small-font: .810rem;
    --smaller-font: .750rem
}

@media screen and (width >= 1150px) {
    :root {
        --normal-size-font: 1rem;
        --big-font: 2.25rem;
        --small-font: .870rem;
        --smaller-font: .810rem
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

body {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* Main container */
.container{
    background-color: var(--surface);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.329) 0 5px 15px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container h1 {
    color: var(--text);
    font-size: var(--bigger-font);
}

/* Welcome back and hello */
.container p {
    font-size: var(--normal-size-font);
    color: var(--secondary);
    font-size: var(--normal-font);
    line-height: 20px;
    letter-spacing: .3px;
    margin: 20px 0;
}

/* Create account and hello */
.container span {
    font-size: var(--smaller-font);
}

.container a {
    color: var(--primary);
    text-decoration: none;
    font-size: var(--small-font);
    margin: 15px 0 10px;
}

.container button {
    background-color: var(--primary);
    color: var(--surface);
    font-size: var(--smaller-font);
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: .7px;
    margin-top: 10px;
    cursor: pointer;
}

/* welcome back and hello */
.container button.hidden{
    background-color: transparent;
    border-color: var(--surface);
}

/* crate accont and sign in */
.container form { 
    background-color: var(--surface);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

/* Create account and sign in */
.container input {
    background-color: var(--tertiary);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: var(--small-font);
    border-radius: 8px;
    width: 100%;
    outline: none;
}

/* Encompass every section */
.form_container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

/* sit's the form_container, but only the sign in part */
.sign_in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign_in {
    transform: translateX(100%);
}

/* it's the form_container, but only the sign up part */
.sign_up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign_up {
    transform:translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move .6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social_icons {
    margin: 20px 0;
}

.social_icons a {
    border: 1px solid var(--secondary);
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle_container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all .6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle_container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

/* Welcome back and Hello sections. Change what's on top of the text.  */
.toggle {
    background-color: var(--primary);
    height: 100%;
    color: var(--text);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all .6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

/* Hello section */
.toggle_panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform:translateX(0);
    transition: all .6s ease-in-out;
}

/* Welcome back */
.toggle_left {
    transform: translateX(-200%);
}

.container.active .toggle_left {
    transform: translateX(0);
}

.toggle_right {
    right: 0;
    transform: translateX(0);
} 

.container.active .toggle_right {
    transform: translateX(200%);
}
